<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl"><%= t(".update_your_password") %></h1>

  <%= form_with url: password_path(params[:token]), method: :put, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: t(".password_placeholder"), maxlength: 72, class: "block rounded-xl focus:border-pastel-blue bg-white px-4 py-3 mt-2 w-full text-lg drop-shadow-md drop-shadow-pastel-purple" %>
    </div>

    <div class="my-5">
      <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: t(".password_confirmation_placeholder"), maxlength: 72, class: "block rounded-xl focus:border-pastel-blue bg-white px-4 py-3 mt-2 w-full text-lg drop-shadow-md drop-shadow-pastel-purple" %>
    </div>

    <div class="inline">
      <%= form.submit t(".save"), class: "w-full sm:w-auto text-center rounded-xl px-6 py-3 bg-purple-400 text-white font-semibold cursor-pointer drop-shadow-md drop-shadow-pastel-purple" %>
    </div>
  <% end %>
</div>
